<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">

    <link rel = "preconnect" href = "https://fonts.gstatic.com">
<link href = "https://fonts.googleapis.com/css2? family = Antonio: wght @ 600 & display = swap" rel = "hoja de estilo">

    <title>Document</title>


   

    <link rel="stylesheet" href="../assets/css/Style.css">
</head>


<body>
    
    <header class="header">

        <div id="logoPadding">


        
        <nav>

            <a href="../index.html"> <img src="../img/logo.jpeg" alt="Logo" height="100"> </a>


                <!--Aca va un buscador e iconos-->

        </nav>


        </div>
        <div>
            <li class="inLine"><a href="./Iniciar sesion.html"> Iniciar Sesion</a></li>
        </div>

    </header>


        <section class="parteTres">

            <nav>
                <div class="none">
                   
                    <ul class="menu">
                        
                       <li> <a href="../index.html"> Home </a> </li>
    
                        <li> <a href="./categorias.html"> Categorias</a>

                            <ul class="submenu">
                                                    
                                <li> <a href="#link"> Deporte</a></li>

                                <li> <a href="#otrolink"> Urbano</a></li>

                                <li> <a href="#linked"> Infantil</a></li>
                               
                            </ul>
                        </li>
                         
                    </ul>
                    
              
                </div>
      

                <title>Producto</title>
           

                 <div class="card"> 

                    
                            <h3>Nombre del Porducto</h3>


                      <img src="../img/Producto.jpeg" alt="Producto" width="350px" height="280px" >
        
                    
                    <p>Precio</p>
                    <p>Talle</p>

             

                 </div>
            
             </nav>
       
    <div>
    
        <h4>Descripcion</h4>

        
            <li>Soquete</li>
            <li>Algodon natural hipoalergénico</li>
            <li>Talon reforzado</li>
            <li>Arco anatómico Costuras planas en la puntera</li>
            <li>Composición:81% Algodon 7% Spandex 12% Poliamida</li>
            
        
    
    </div>

</section>
    

<footer >

    <div class="parteUno italicaCopyright">

        <h3>Zibá</h3>

        <div class="contactosFooter">
            <li id="instagram">Instagram</li>
            <li>Facebook</li>
            <li>Whatsapp</li>
         </div>


        <p> Copyright  ©  2021 Todos los derechos reservados</p>
        <p> <a href="./Quienes somos.html"> Quienes somos </a></p>

        <p>Politicas de Privacidad</p>
        <p>Ubicacion</p>
        
    
          
        </div>

    </footer>

   


</body>
</html>