<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
    
        <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Antonio: wght @ 600 & display = swap" rel = "hoja de estilo">
        <title>Document</title>
    
    
    
    
    
        <link rel="stylesheet" href="../assets/css/Style.css">
    
    
    
    </head>
<body>
    <header class="header">

        <div id="logoPadding">


        
        <nav>

            <a href="../index.html"> <img src="../img/logo.jpeg" alt="Logo" height="100"> </a>


                <!--Aca va un buscador e iconos-->

        </nav>


        </div>
        <div>
            <li class="inLine"><a href="./Iniciar sesion.html"> Iniciar Sesion</a></li>
        </div>
    </header>

    <section class="parteTres">


        <div>

        <nav>
            <div class="none">
               
                <ul class="menu">
                    
                   <li> <a href="../index.html"> Home </a> </li>

                    <li> <a href="./categorias.html"> Categorias</a>

                        <ul class="submenu">
                                                
                            <li> <a href="#link"> Deporte</a></li>

                            <li> <a href="#otrolink"> Urbano</a></li>

                            <li> <a href="#linked"> Infantil</a></li>
                           
                        </ul>
                    </li>
                     
                </ul>
                
          
            </div>
    </nav>
       
            
                    <div id = "cajaGrids">

                        <div id="tipo" class="none filtros">


                            <P>Filtros</P>
        
                            <p>Tipo</p>
        
                            
                                <p>Medias</p>
                                <p>Soquetes</p>
                                <p>Invisibles</p>
                                <p>Futbol</p>
        
                        </div>      

                        <div id= "cuerpo">
                            
                            <img src="../img/categorias3.jpeg" alt="Producto" height="220px" width="300px">
                            <p>Medias de corazones</p>
                            <span>$250</span>  
                          
                           
                                <a  href="./Producto.html"> <img src ="../img/Producto.jpeg" alt="Producto"  height="220px" width="300px"></a>
                                <p>Medias de banana</p>
                            <span>$250</span> 
                        </div>
                            
                          <div id="cuerpoDos">
                                <img src="../img/categorias1.jpeg" alt="Producto" width="300px" height="220px">  
                                <p>Medias de mariposas</p>
                            <span>$250</span>   
                            
                                <img  src="../img/categorias4.jpeg" alt="Producto" width="260px" height="220px">  
                                <p>Soquetes blancos</p>
                            <span>$250</span>  

                        </div>


                         </div>
           

    

        
                    </div>
                    
    </section>  

    <footer >

        <div class="parteUno italicaCopyright">

            <h3>Zibá</h3>

            <div class="contactosFooter">
                <li id="instagram">Instagram</li>
                <li>Facebook</li>
                <li>Whatsapp</li>
             </div>


            <p> Copyright  ©  2021 Todos los derechos reservados</p>
            <p> <a href="./Quienes somos.html"> Quienes somos </a></p>

            <p>Politicas de Privacidad</p>
            <p>Ubicacion</p>
            
        
              
            </div>

        
    </footer>


</body>
</html>



